<p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter: {{ 'Current version is v%VERSION%.' | interpolate }}
</p>

  <pre>
    {{data | json }}
  </pre>
  <table class="table ">
    <thead>
        <th>"Coupon #"</th>
          <th>"Flight"</th>
          <th>"Date"</th>
          <th>"Segment"</th>
          <th>"Class"</th>
          <th>"Issued By"</th>
          <th>"Status"</th>
    </thead>
    <tr>
      <td>{{data.Coupon}}</td>
      <td>{{data.Flight}}</td>
      <td>{{data.Date}}</td>
      <td>{{data.Segment}}</td>
      <td>{{data.Class}}</td>
      <td>{{data.IssuedBy}}</td>
      <td>{{data.Status}}</td>
    </tr>
    <tr>
      <td colspan="7">{{data.Detail}}<br>{{data.l2}}<br>{{data.l3}}</td>
    </tr>
    
    <tr>
      <td class="expand-column">
          <span ng-click="$ctrl.icketing1Coupon1Details = !$ctrl.ticketing1Coupon1Details">
              <a>
                  <i class="fa fa-plus-circle link" ng-class="{'fa-minus-circle': $ctrl.ticketing1Coupon1Details}"></i>
              </a>
          </span>
      </td>
      <td>1</td>
      <td>UA 1742</td>
      <td>08/01/2018</td>
      <td>ORD-SFO</td>
      <td>S</td>
      <td>UA</td>
      <td style="color: #357D3F">Active</td>
  </tr>
  </table>
  <pre ng-repeat="c in $ctrl.countries">{{c | json}}</pre><!-- BUG -->
  <pre>{{$ctrl.countries | json}}</pre>

  